<%- include('../layout/header'); %>

<div class="head-page">
    <h1><%= title %></h1>
    <a href="/admin/categories/add" class="btn btn-success">افزودن تگ</a>
</div>

<% if(categories.length > 0) { %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">عنوان</th>
        <th scope="col">عنوانک</th>
        <th scope="col">زیر مجموعه</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <% categories.forEach(category =>{ %>
        <tr>
            <th scope="row"><%= category.id %></th>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td><%= category.categories.length %></td>
            <td>
                <a href="/admin/categories/<%= category.id %>/edit" class="btn btn-sm btn-warning">ویرایش</a>
                <a href="/admin/categories/<%= category.id %>/delete" class="btn btn-sm btn-danger">حذف</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else { %>
    <h1>محصولی یافت نشد.</h1>
<% } %>


<%- include('../layout/footer'); %>
