<%- include('../layout/table-head'); %>

<% if(data && data.stocks.length > 0) { %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">عکس</th>
        <th scope="col">محصول</th>
        <th scope="col">قیمت</th>
        <th scope="col">تعداد</th>
        <th scope="col">قیمت نهایی</th>
    </tr>
    </thead>
    <tbody>
        <% data.stocks.forEach(item =>{ %>
        <tr>
            <td><%= item.id %></td>
            <td>
                <img src="<%= item.media.length > 0 ? item.media[0].media_url : '/images/default.jpg' %>"
                     alt="<%= item.product.title %>">
            </td>
            <td><%= item.product.title %></td>
            <td><%= item.price %></td>
            <td>
                <span class="btn-group cart-quantity" data-max-count="<%= item.count %>">
                    <a href="/api/carts/<%= item.id %>/add" class="btn btn-sm btn-default cart-add">+</a>
                    <span class="btn btn-sm btn-default cart-quantity-label"><%= item.cartItem.quantity %></span>
                    <a href="/api/carts/<%= item.id %>/remove" class="btn btn-sm btn-default cart-remove">-</a>
                </span>
            </td>
            <td class="td-price"><%= item.cartItem.quantity * item.price %></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<a href="/orders/information" class="btn btn-success" >ثبت سفارش</a>

<% } else { %>
    <h1>سبد خالی میباشد.</h1>
<% } %>

<%- include('../layout/table-foot'); %>


