<%- include('../layout/table-head'); %>

<% if(data && data.stocks.length > 0) { %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">عکس</th>
        <th scope="col">محصول</th>
        <th scope="col">قیمت</th>
        <th scope="col">تعداد</th>
        <th scope="col">قیمت نهایی</th>
    </tr>
    </thead>
    <tbody>
        <% let totalCount = 0; %>
        <% let totalPrice = 0; %>
        <% data.stocks.forEach(item =>{ %>
        <% totalCount += item.cartItem.quantity; %>
        <% totalPrice += item.cartItem.quantity * item.price; %>
        <tr>
            <td><%= item.id %></td>
            <td>
                <img src="<%= item.media.length > 0 ? item.media[0].media_url : '/images/default.jpg' %>"
                     alt="<%= item.product.title %>">
            </td>
            <td><%= item.product.title %></td>
            <td><%= item.price %></td>
            <td>
                <span class="btn-group cart-quantity" data-max-count="<%= item.count %>">
                    <a href="/api/carts/<%= item.id %>/add" class="btn btn-sm btn-default cart-add">+</a>
                    <span class="btn btn-sm btn-default cart-quantity-label"><%= item.cartItem.quantity %></span>
                    <a href="/api/carts/<%= item.id %>/remove" class="btn btn-sm btn-default cart-remove">-</a>
                </span>
            </td>
            <td class="td-price"><%= item.cartItem.quantity * item.price %></td>
        </tr>
        <% }); %>
    </tbody>
    <tfoot>
        <tr>
            <th>مالیات</th>
            <td id="total-all-tax"><%= (totalPrice/100)*0.9 %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>تعداد کل محصولات</th>
            <td id="total-all-count"><%= totalCount %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>مجموع قیمت محصولات</th>
            <td id="total-products-price"><%= totalPrice %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>مجموع کل</th>
            <td id="total-all-price"><%= totalPrice + ((totalPrice/100)*0.9) %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>



<a href="/orders/information" class="btn btn-success" >ثبت سفارش</a>

<% } else { %>
    <h1>سبد خالی میباشد.</h1>
<% } %>

<%- include('../layout/table-foot'); %>


