<%- include('../layout/table-head'); %>

<% if(tags.length > 0) { %>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">عنوان</th>
        <th scope="col">عنوانک</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <% tags.forEach(tag =>{ %>
        <tr>
            <th scope="row"><%= tag.id %></th>
            <td><%= tag.name %></td>
            <td><%= tag.slug %></td>
            <td>
                <a href="/admin/tags/<%= tag.id %>/edit" class="btn btn-sm btn-warning">ویرایش</a>
                <a href="/admin/tags/<%= tag.id %>/delete" class="btn btn-sm btn-danger">حذف</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else { %>
    <h1>تگی یافت نشد.</h1>
<% } %>

<%- include('../layout/table-foot'); %>

