<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <% if(isLoggedIn) { %>
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="<%= user.avatar_url ? user.avatar_url : '/images/default-user.jpg' %>"
                     alt="<%= user.full_name %><"
                     class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= user.full_name %></h2>
            </div>
        </div>
        <% } %>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a href="/admin">
                            <i class="fa fa-home"></i> داشبورد
                        </a>
                    </li>
                    <li>
                        <a href="/carts">
                            <i class="fa fa-home"></i> سبد خرید
                        </a>
                    </li>
                    <% if(sectionsAllowed.indexOf('product') > -1) { %>
                    <li>
                        <a><i class="fa fa-edit"></i> محصولات <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <%- include('../_/sidebar-link', { href: "/admin/products" , text:"لیست محصولات " }); %>
                            <%- include('../_/sidebar-link', { href: "/admin/products/add" , text:"افزودن محصول جدید " }); %>
                        </ul>
                    </li>
                    <% } %>
                    <% if(sectionsAllowed.indexOf('user') > -1) { %>
                        <li>
                            <a><i class="fa fa-desktop"></i> کاربران <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <%- include('../_/sidebar-link', { href: "/admin/users", text: "لیست کاربران", }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/users/add", text: "افزودن کاربر جدید" }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/roles", text: "لیست نقش ها", }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/roles/add", text: "افزودن نقش جدید" }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/permissions", text: "لیست دسترسی ها", }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/permissions/add", text: "افزودن دسترسی جدید" }); %>
                            </ul>
                        </li>
                    <% } %>
                    <% if(sectionsAllowed.indexOf('order') > -1) { %>
                        <li>
                            <a><i class="fa fa-table"></i> سفارشات ها <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <%- include('../_/sidebar-link', { href: "/admin/orders", text: "لیست سفارشات" }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/orders/add", text: "افزودن سفارش جدید " }); %>
                            </ul>
                        </li>
                    <% } %>
                    <% if(sectionsAllowed.indexOf('category') > -1) { %>
                    <li>
                        <a><i class="fa fa-table"></i> دسته بندی ها <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <%- include('../_/sidebar-link', { href: "/admin/categories", text: "لیست دسته بندی ها " }); %>
                            <%- include('../_/sidebar-link', { href: "/admin/categories/add", text: "افزودن دسته بندی جدید " }); %>
                        </ul>
                    </li>
                    <% } %>
                    <% if(sectionsAllowed.indexOf('tag') > -1) { %>
                        <li><a><i class="fa fa-bar-chart-o"></i> تگ ها <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <%- include('../_/sidebar-link', { href: "/admin/tags", text: "لیست تگ ها " }); %>
                                <%- include('../_/sidebar-link', { href: "/admin/tags/add", text: "افزودن تگ جدید " }); %>
                            </ul>
                        </li>
                    <% } %>
                    <li><a><i class="fa fa-bar-chart-o"></i>تنظیمات <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <%- include('../_/sidebar-link', { href: "/admin/settings" , text: "تنظیمات" }); %>
                            <%- include('../_/sidebar-link', { href: "/admin/users/profile" , text: "تنظیمات حساب کاربری" }); %>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="e_commerce.html">E-commerce</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="project_detail.html">Project Detail</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="profile.html">Profile</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="page_403.html">403 Error</a></li>
                            <li><a href="page_404.html">404 Error</a></li>
                            <li><a href="page_500.html">500 Error</a></li>
                            <li><a href="plain_page.html">Plain Page</a></li>
                            <li><a href="login.html">Login Page</a></li>
                            <li><a href="pricing_tables.html">Pricing Tables</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="#level1_1">Level One</a>
                            <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu"><a href="level2.html">Level Two</a>
                                    </li>
                                    <li><a href="#level2_1">Level Two</a>
                                    </li>
                                    <li><a href="#level2_2">Level Two</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#level1_2">Level One</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <form method="post" action="/admin/logout">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button lc data-toggle="tooltip" data-placement="top" title="Logout">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </button>
            </form>

        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
